@{
    ViewData["Title"] = "Edit Category";
}

@model Category


<form method="post">
    <div class="border-danger p-3">
        <fieldset>
            <legend>Edit Category</legend>
            <input type="text" asp-for="Id" hidden />
            <div row mt-3>
                <label for="CategoryName" class="form-label mt-4">Category Name</label>
                <input asp-for="Name" type="text" class="form-control" id="CategoryName" aria-describedby="emailHelp" placeholder="Enter Category Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div row mt-3>
                <label asp-for="DisplayOrder" for="exampleInputDisplayOrder" class="form-label mt-4"></label>
                <input asp-for="DisplayOrder" class="form-control" id="exampleInputDisplayOrder" aria-describedby="DisplayOrder" placeholder="Enter Display Order">
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            
            <div class="row mt-3">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Submit</button>
                </div>
                <div class="col-md-3">
                    <a asp-action="Index" asp-controller="Category" class="btn btn-outline-secondary form-control">Back to List</a>
                </div>
            </div>
        </fieldset>
    </div>
</form>


@* for client side validation *@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
