## Ignore build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/
build/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio Code workspace
.vscode/

## Rider IDE
.idea/

## ASP.NET-specific
project.lock.json
project.fragment.lock.json
artifacts/

## Web-specific
wwwroot/lib/
node_modules/
dist/
bower_components/

## NuGet
*.nupkg
packages/
*.snupkg
*.nuspec
project.assets.json
PackageLock.json

## Entity Framework
Migrations/

## Logs
*.log

## Configuration transforms
*.Transform.cs
*.Transform.exe

## Publish folder
[Dd]MP/**/publish/

## Others
_ReSharper*/
*.vs/
*.DS_Store
*.env
.env.*
*.pdb

## Local test results
TestResults/
*.trx

## Coverlet code coverage
coverage*.json
coverage*.xml
coverage*.info
lcov.info

## Resx Designer
*.resources

## Compiled Razor files
**/*.g.cshtml.cs
**/*.g.cs
**/*.cshtml.g.cs

## SQLite or LocalDB
*.mdf
*.ldf
*.db
*.sqlite


DMP/appsettings.json
DMP/appsettings.Development.json

